# Программирование на языке Python
## Семинар 9. Pandas

Данные взяты [отсюда](https://github.com/datasets/covid-19).

In [1]:
import pandas as pd
import numpy as np

#### Задание 1
Импортируйте и проведите первичное изучение данных (соответствующим типу каждой переменной).

In [2]:
covid = pd.read_csv('time-series-19-covid-combined.csv')
covid.head()

         Date Country/Region Province/State  Confirmed  Recovered  Deaths
0  2020-01-22    Afghanistan            NaN          0        0.0       0
1  2020-01-23    Afghanistan            NaN          0        0.0       0
2  2020-01-24    Afghanistan            NaN          0        0.0       0
3  2020-01-25    Afghanistan            NaN          0        0.0       0
4  2020-01-26    Afghanistan            NaN          0        0.0       0

In [3]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231744 entries, 0 to 231743
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            231744 non-null  object
 1   Country/Region  231744 non-null  object
 2   Province/State  72624 non-null   object
 3   Confirmed       231744 non-null  int64
 4   Recovered       218688 non-null  float64
 5   Deaths          231744 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 10.6+ MB

#### Задание 2
- переименуйте переменные, приведя их к более "стандартному" и удобному виду;
- проверьте данные на корректность: одинаково ли представлена история для всех стран? Есть ли пропущенные значения? Сколько их? По какому принципу они пропущены? Если ответ на эти вопросы вскроет какие-либо несоответствия в данных, предложите причины и варианты решения несоответствий;
- для всех ли стран представлены одни и те же даты? Отсортируйте датасет по стране и дате, чтобы последовательность была строго упорядочена во времени.

In [18]:
# наш код здесь
covid.rename(columns=lambda name: name.lower().replace('/', '_'), inplace=True)

In [24]:
covid['date_dt'] = pd.to_datetime(covid['date'], format='%Y-%m-%d')
covid

,date,country_region,province_state,confirmed,recovered,deaths,date_dt
0,2020-01-22,Afghanistan,NaN,0,0.0,0,2020-01-22
1,2020-01-23,Afghanistan,NaN,0,0.0,0,2020-01-23
2,2020-01-24,Afghanistan,NaN,0,0.0,0,2020-01-24
3,2020-01-25,Afghanistan,NaN,0,0.0,0,2020-01-25
4,2020-01-26,Afghanistan,NaN,0,0.0,0,2020-01-26
...,...,...,...,...,...,...,...
231739,2022-04-12,Zimbabwe,NaN,247094,0.0,5460,2022-04-12
231740,2022-04-13,Zimbabwe,NaN,247160,0.0,5460,2022-04-13
231741,2022-04-14,Zimbabwe,NaN,247208,0.0,5462,2022-04-14
231742,2022-04-15,Zimbabwe,NaN,247237,0.0,5462,2022-04-15
231743,2022-04-16,Zimbabwe,NaN,247237,0.0,5462,2022-04-16

In [28]:
(covid['recovered'].isna() & covid['province_state'].isna()).any()

False

In [29]:
covid.head()

,date,country_region,province_state,confirmed,recovered,deaths,date_dt
0,2020-01-22,Afghanistan,NaN,0,0.0,0,2020-01-22
1,2020-01-23,Afghanistan,NaN,0,0.0,0,2020-01-23
2,2020-01-24,Afghanistan,NaN,0,0.0,0,2020-01-24
3,2020-01-25,Afghanistan,NaN,0,0.0,0,2020-01-25
4,2020-01-26,Afghanistan,NaN,0,0.0,0,2020-01-26

#### Задание 3

Перед тем, как выполнять данное задание, подумайте, не лучше ли будет каким-либо образом поменять существующие показатели пандемии.

- как меняется соотношения типа обнаруженные / умершие и т. д. во времени (в среднемировом разрезе)?
- если смотреть в среднемировом разрезе, как можно оценить, на какой день болезни шанс заразить кого-нибудь больше всего? Попробуйте проверить, можно ли говорить о какой-либо статистической значимости в контексте вашего ответа;
- если смотреть в среднемировом разрезе, как можно оценить, на какой день болезни шанс умереть больше всего? Попробуйте проверить, можно ли говорить о какой-либо статистической значимости в контексте вашего ответа.

In [ ]:
# наш код здесь

#### Задание 4

Изобразите распределение всех трех показателей прироста с помощью:

1. Гистограммы
2. Ящика с усами (boxplot)
3. Функции распределения

На одном графике.

Повторите то же самое для логарифмированных показателей.

In [ ]:
# наш код здесь

#### Задание 5

Изобразите для шести понравившихся вам стран взаимосвязь между логарифмированными показателями прироста заболевших и умерших (по графику на страну, все на одной картинке). Сделайте это тремя способами: с помощью `matplotlib`, `seaborn` и `plotly`.

In [ ]:
# наш код здесь